<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      Inicio
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Contacto</a>
    </li>
  </ol>
</nav>

<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control">
  <br>
  <label>Email</label>
  <input type="email" class="form-control">
  <br>
  <label>MEnsaje</label>
  <textarea class="form-control"></textarea>
  <hr>
  <a class="btn btn-primary text-white">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>