<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8">
        <h2>Lugares cercanos</h2>
        <a class="btn btn-primary text-white" routerLink="/crear">Crear Nuevo Negocio</a>
        <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
              <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action2:'view', referer:'google'}"><li class="list-group-item">{{lugar.nombre}}</li></a>
          </ng-container>
        </ul>
    </div>
    <div class="col-xs-4 col-sm-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>