<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Lugares</a>
    </li>
    <li class="breadcrumb-item active"aria-current="page">{{lugar.nombre}}</li>
  </ol>
</nav>

<div class="container">
  <h1>{{lugar.nombre}}</h1>
  <hr>
  <small>{{lugar.distancia}} Km</small>
  <br>
  <div class="card card-body bg-light">
    <p>
      {{lugar.description}}
    </p>
    <b>Plan: {{lugar.plan}}</b>
  </div>
</div>