<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      Inicio
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/lugares">Crear Lugar</a>
    </li>
  </ol>
</nav>

<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre">
  <br>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
  <br>
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
  <br>
  <label>Descripcion</label>
  <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <hr>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan">
  <hr>
  <a class="btn btn-primary text-white" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>